*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.ilk
*.exp
*.map
*.gch
*.pch

# Visual Studio (VS) Klasörleri
.vs/
Debug/
Release/
x64/
x86/
build/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opensdf
*.sdf
*.ipch

# VS Code
.vscode/
*.code-workspace

# CLion CMake JetBrains
.idea/
cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeFiles/

# Dev-C++ Code::Blocks
*.layout
*.depend
*.cbp.save
*.dev.save

# --- 6. İşletim Sistemi Dosyaları (Mac/Windows) ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
